@page "/change-password"
@using global::UserManagement.UI.Services
@using System.ComponentModel.DataAnnotations
@using Blazored.LocalStorage
@inject IAccountService AccountService
@inject ISnackbar Snackbar
@inject ILocalStorageService LocalStorageService
@inject NavigationManager NavigationManager

<div class="edit-user">
    <h2 class="title">Change Password</h2>
    <form class="form">
        <div class="input-group">
            <label for="oldPassword">Old Password</label>
            <input id="oldPassword" placeholder="Old Password" @bind="@ChangePasswordData.OldPassword" type="password"/>
        </div>
        <div class="input-group">
            <label for="newpassword">New Password</label>
            <input id="newpassword" placeholder="New Password" @bind="@ChangePasswordData.NewPassword" type="password"/>
        </div>
        <div class="input-group">
            <label for="repassword">Confirm Password</label>
            <input id="repassword" placeholder="Confirm Password" @bind="@ChangePasswordData.NewPasswordConfirm" type="password"/>
        </div>

        <ul class="messageError">
            @foreach (var message in MessageError??new())
            {
                <li>@message</li>
            }
        </ul>
        <div class="footer">
            <div class="action">
                <MudButton Variant="Variant.Filled" Class="btn-reset" OnClick="ResetField">Reset</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Submit">Save Changes</MudButton>
            </div>
        </div>

    </form>
</div>

@code {

    private ChangePasswordModel ChangePasswordData { get; set; } = new();
    private List<string>? MessageError { get; set; } = new();
    

    protected override async Task OnInitializedAsync()
    {
        var userId = await LocalStorageService.GetItemAsStringAsync("UserId");
        ChangePasswordData.UserId = new Guid(userId.Substring(1,userId.Length-2));
    }
    

    private void ResetField()
    {
        ChangePasswordData.NewPassword = "";
        ChangePasswordData.OldPassword = "";
        ChangePasswordData.NewPasswordConfirm = "";
        MessageError = new List<string>();
    }

    private async Task Submit()
    {
        var validationErrors = new List<ValidationResult>();
        MessageError = new List<string>();
        var isValid = Validator.TryValidateObject(ChangePasswordData, new ValidationContext(ChangePasswordData), validationErrors, validateAllProperties: true);
        foreach (var error in validationErrors.Where(error => error.ErrorMessage != null))
        {
            if (error.ErrorMessage != null) MessageError?.Add(error.ErrorMessage);
        }
        if (isValid)
        {
            var result = await AccountService.ChangePasswordAsync(ChangePasswordData);
            if (result)
            {
                Snackbar.Add("Change Password Successfully", Severity.Success);
                await AccountService.LogoutAsync();
                NavigationManager.NavigateTo("/login");
            }
            else
            {
                Snackbar.Add("Change Password Unsuccessfully", Severity.Error);
            }
        }

    }

}
