.edit-user[b-fja93iw2xg]{
    max-width: 700px;
    margin: 10px auto;
    border: 1px solid var(--background-body);
    padding: 25px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 40px;
}
.form[b-fja93iw2xg]{
}
.title[b-fja93iw2xg] {
    margin-bottom: 20px;
}

.form .input-group[b-fja93iw2xg]{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.form label[b-fja93iw2xg]{
    width: 150px;
}
.form input[b-fja93iw2xg],select[b-fja93iw2xg]{
    border: 1px solid var(--background-body);
    padding: 10px;
    border-radius:5px;
    outline: none;
    margin-top: 10px;
    flex: 1;
}
.form select option[b-fja93iw2xg]{
    background-color: var(--background-white);
}
.form .action[b-fja93iw2xg]{
    width: fit-content;
    margin-left: auto;
}
.footer[b-fja93iw2xg]{
    width: calc(100% + 50px);
    background-color: var(--background-light);
    margin:30px -25px;
    margin-bottom: -25px;
    margin-top:20px;
    padding: 20px;
}
.action[b-fja93iw2xg]  .btn-reset{
    margin-right: 20px;
}
[b-fja93iw2xg] .mud-input-slot{
    font-size:14px!important;
    font-weight:400!important;
}

.form .messageError[b-fja93iw2xg]{
    color: red;
    margin-top: 10px;
    margin-left: 100px;
}