.container[b-zmtvxjou3p]{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.icon[b-zmtvxjou3p]{
    margin: auto;
    width: fit-content;
}
h3[b-zmtvxjou3p]{
    font-size:18px;
    text-align: center;
}
p[b-zmtvxjou3p]{
    text-align: center;
    font-size: 18px;
    margin: 10px auto;
}