.profile[b-kz7zlka5sy]{
  position: relative;
}
.banner[b-kz7zlka5sy]{
  height: 200px;
  width: 100%;
  background-image:url(../images/robot.jpeg);
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
}
.avatar[b-kz7zlka5sy]{
  width: 100px;
  border: 3px solid white;
  position: absolute;
  top: 150px;
  left: 20px;
  background-color: var(--background-body);
  border-radius: 50%;
  padding: 10px;
}
.info[b-kz7zlka5sy]{
  margin-top: 60px;
  margin-left: 20px;
}
.des[b-kz7zlka5sy]{
  margin-left: 10px;
  max-width:500px;
  margin-top: 10px;
  margin-bottom: 20px;
}